 
<div class="divcls">
    <a class="text-dark acls"
           href="@Url.Action("Index", "ExecutiveDashboard")" >
        <i class="bi bi-speedometer me-2 mnicn"></i>
        <span class="mnspan">Executive Dashboard</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Compliance", "ExecutiveDashboard")" >
        <i class="bi bi-shield-check me-2 mnicn"></i>
        <span class="mnspan">Compliance</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("AuditTrail", "ExecutiveDashboard")" >
        <i class="bi bi-journal-text me-2 mnicn"></i>
        <span class="mnspan">Audit Trail</span>
    </a>

</div>
