 
<div class="divcls">

   
        <a class="text-dark acls"
               href="@Url.Action("Index", "Workflow")" >
            <i class="bi bi-arrow-repeat me-2 mnicn"></i>
            <span class="mnspan">Workflows</span>
        </a>
   
        <a class="text-dark acls"
               href="@Url.Action("PendingApprovals", "Workflow")" >
            <i class="bi bi-check-square me-2 mnicn"></i>
            <span class="mnspan">Pending Approvals</span>
        </a>
   
        <a class="text-dark acls"
               href="@Url.Action("Definitions", "Workflow")" >
            <i class="bi bi-diagram-3 me-2 mnicn"></i>
            <span class="mnspan">Definitions</span>
        </a>
    
        <a class="text-dark acls"
               href="@Url.Action("Notifications", "Workflow")" >
            <i class="bi bi-bell me-2 mnicn"></i>
            <span class="mnspan">Notifications</span>
        </a>
  

                       
</div>
