 
<div class="divcls">
        <a class="text-dark acls"
               href="@Url.Action("Index", "DocumentDashboard")"  >
            <i class="bi bi-speedometer2 me-2"></i>
            <span class="sidebar-label">Dashboard</span>
        </a>
        <a class="text-dark acls"
               href="@Url.Action("Index", "Document")" >
            <i class="bi bi-file-earmark-text me-2"></i>
            <span class="sidebar-label">Documents</span>
        </a>
        <a class="text-dark acls"
               href="@Url.Action("Search", "Document")"  >
            <i class="bi bi-search me-2"></i>
            <span class="sidebar-label">Search</span>
        </a>
        <a class="text-dark acls"
               href="@Url.Action("Index", "ApprovalMatrix")" >
            <i class="bi bi-diagram-3 me-2"></i>
            <span class="sidebar-label">Approval Matrix</span>
        </a>


                       
</div>
